<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>详情页</h2>

    <h4>
        <%=data.stem%>
    </h4>
    <ul>
        <li><%=data.option_1%></li>
        <li><%=data.option_2%></li>
        <li><%=data.option_3%></li>
        <li><%=data.option_4%></li>
    </ul>
</body>
</html>